<ul >
  {{#events}}
    <li>
        <h2>Title: {{ title }}</h2>
        <p>Desc: {{ description }}</p>
        <p>Location: {{ location }}</p>
        Img: {{eventImage}}
    </li>
  {{/events}}
  
</ul>
<h4>khaja's test</h4>